.body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;

}
#app_header {
  padding: 20px;
  display: flex;
  color: white;
  background-color: #3161e0;
  justify-content: space-around
  
}
.logo_img {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

}
.main_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 24px
}
.actions {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
      justify-content: center;
      background-color: white;
      color: black;
      border-radius: 20%
}
.jumbotron_img{
  width: 1206px;
  max-height: 660px;
}