header#app_header {
  padding: 20px;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #3161e0;
  text-align: center;
  max-width: 1680px;

}